body {
    background-color: #f2f2f2;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
