

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.title {
    color: #38639b;
    font-size: 40px;
    font-family: fantasy, sans-serif;
    margin-bottom: 0;
    position: absolute;
    opacity: 0;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 200% 200%;
    background-position: center;
    background-size: cover;
    height: 700px; 
    opacity: 0.4;
}


