.imageCustom {
    border-radius: 1rem 0 0 1rem;
    height: 536px;
}

.cardCustom {
    background: rgb(91, 204, 217);
    background: linear-gradient(
        180deg,
        rgba(91, 204, 217, 1) 0%,
        rgba(206, 236, 242, 1) 40%
    );
    border-radius: 1rem;
}

.iconCustom {
    height: 100px;
}
